<app-header></app-header>
<div class="all">
<div class="container">
    
    <div class="tlo">
        
        <div class="profil"></div>
    </div>
    



</div>
<div class="info-container">
    
    <div class="nametag">
        <div class="hello">
            <p>WITAJ</p>
            <p class="top">nazywam się </p>
        </div>
        <div class="name"><h1>Bogdan Boner</h1></div>
        <div class="stop"></div>
    </div>

    
</div>
<div class="clean">
    <div class="spinacz">
        <div class="foto">
            cos tutaj foto
        </div>
        <div class="miasto">
            <div><h2>Mieszkam w : Szczecinie</h2>
                <h2>Interesuje się : coś tam </h2></div>
        </div>
        <div class="foto">
            cos tutaj foto
        </div>
        <div class="zainteresowanie">
            <div>
                <h2>Interesuje się: czym kolwiek</h2>
            <h2>Moj ulubiony film to </h2>
            <h2>Czesto oglądam program: tvp1</h2>
            </div>
            
        </div>
        <div class="foto2">
            cos tam
        </div>
        <div class="opinia">
            <div>
                <h2>Mój ostatni zachód słońca pragnę spędzić z: </h2>
                <h2>Miłą, troskliwą i kochaną osobą</h2>
            </div>
            
        </div>
    </div>
    
</div>
</div>
