
<div class="D_MainFrame">
    <div class="reg">
        <div>
            <h1>Zarejsetruj się tutaj: </h1>
            <p class="black">Login: </p>
            <input type="text" name="login" id="login" class="log">
            <p class="black">Email: </p>
            <input type="email" name="mail" id="mail" class="log">
            <p class="black">Hasło: </p>
            <input type="text" name="haslo1" id="haslo1" class="log">
            <p class="black">Potwierdź hasło: </p>
            <input type="text" name="haslo2" id="haslo2" class="log">
            <button class="send" routerLink="/ankieta">Przejdź do ankiety: </button>
            <p class="ankieta">*Ankieta jest by lepiej dobrać dusze</p>
        </div>
    </div>
</div>